@import "~src/scss/scss-variables.scss";

:host {
  display: flex;
  gap: 2rem;
  align-items: center;
  border-bottom: $header-border-width solid $header-border-color;
  background-color: $header-background;
  color: $header-text;
  padding: 0 1rem;
}

h1 {
  font-size: 1.6rem;
}

.spacer {
  flex-grow: 1;
}
