@import "~src/scss/scss-variables.scss";

:host {
  border-bottom: $header-border-width solid $header-border-color;
  background-color: $header-background;
  color: $header-text;
  display: flex;
  justify-content: center;
  overflow: hidden;

  > div {
    width: 100%;
    display: flex;
    align-items: center;

    > * {
      flex-shrink: 0;
    }
  }
}
@mixin active {
  text-decoration: none;
  background-color: $logo-background-hover;
  color: $logo-text-hover;
}

.logo {
  line-height: $header-height;
  padding: 0 2rem;
  border-right: $header-border-width solid $header-border-color;
  height: $header-height;
  display: flex;
  color: white;

  &.active-link {
    @include active;
  }

  @media (hover: hover) {
    &:hover {
      @include active;
    }
  }
}

.spacer {
  flex-grow: 1;
}
