<ng-container
  *ngIf="{
    game: game$ | async,
    status: status$ | async
  } as sub"
>
  <ng-container *ngIf="sub.status === 'loading'">
    <app-loading></app-loading>
  </ng-container>
  <ng-container *ngIf="sub.game && sub.status === 'success'">
    <app-game-select-name
      *ngIf="sub.game.type === 'select-name'"
      [question]="sub.game.question"
      (clickEvent)="onClick($event)"
    ></app-game-select-name>
    <app-game-select-photo
      *ngIf="sub.game.type === 'select-photo'"
      [question]="sub.game.question"
      (clickEvent)="onClick($event)"
    ></app-game-select-photo>
  </ng-container>
</ng-container>
