<img src="assets/blank.svg" />
<div
  (click)="onClick()"
  (pointerenter)="onPointerEnter()"
  (pointerleave)="onPointerLeave()"
>
  <img
    srcset="
              assets/people/{{image}}-derivatives/{{image}}-250w.jpg 250w,
              assets/people/{{image}}-derivatives/{{image}}-500w.jpg  2x,
              assets/people/{{image}}-derivatives/{{image}}-750w.jpg  3x,
              assets/people/{{image}}-derivatives/{{image}}-1000w.jpg 4x
            "
    src="assets/people/{{ image }}-derivatives/{{ image }}-1000w.jpg"
    alt="Picture of person"
  />
  <label *ngIf="textShown && text">{{ text }}</label>
</div>
