@import "~src/scss/scss-variables.scss";

:host {
  position: relative;
  display: inline-flex;
  align-items: center;

  &:not(.disabled) > div {
    cursor: pointer;
  }

  &.selected,
  &.hover {
    button {
      background-color: transparent;
      box-shadow: inset 0px 0px 0px 5px $success-color;
      img {
        z-index: -1;
        position: relative;
      }
    }
  }

  > img {
    visibility: hidden;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
  }

  button {
    position: absolute;
    left: 0;
    right: 0;
    border-radius: $image-border-radius;
    overflow: hidden;

    label {
      position: absolute;
      bottom: 0;
      background: $image-overlay-background;
      left: 0;
      right: 0;
      padding: 2rem;
      font-size: $page-headline-font-size;
      font-weight: bold;
      text-align: center;
      color: $image-overlay-text;
    }
  }
}
