@import "app";

ul {
  display: flex;
}

a {
  display: block;
  font-size: 14px;
  line-height: $header-height;
  padding: 0 20px;
  color: $body-color;

  @mixin active {
    background-color: $gray-400;
    text-decoration: none;
  }

  &.active-link,
  &:active {
    @include active;
  }

  @media (hover: hover) {
    &:hover {
      @include active;
    }
  }
}
