@import "app";

:host {
  border-bottom: 1px solid $gray-400;
  background-color: $gray-200;
  color: $body-color;
  display: flex;
  justify-content: center;
  overflow: hidden;

  > div {
    width: 100%;
    display: flex;
    align-items: center;

    > * {
      flex-shrink: 0;
    }
  }
}

.logo {
  line-height: $header-height;
  padding: 0 10px;
  border-right: 1px solid $gray-200;
  height: $header-height;
  display: flex;
  color: $primary;

  @mixin active {
    text-decoration: none;
    background-color: $primary;
    color: $primary-accent;
  }

  &.active-link,
  &:active {
    @include active;
  }

  @media (hover: hover) {
    &:hover {
      @include active;
    }
  }
}

.spacer {
  flex-grow: 1;
}
