@import "app";

:host {
  border-bottom: 1px solid rgba($gray-600, $opacity-small);
  background-color: rgba($gray-800, $opacity-small);
  display: flex;
  justify-content: center;
  overflow: hidden;

  > div {
    width: 100%;
    display: flex;
    align-items: center;

    > * {
      flex-shrink: 0;
    }
  }
}

.logo {
  line-height: $header-height;
  width: $header-height;
  border-right: 1px solid rgba($gray-600, $opacity-small);
  height: $header-height;
  display: grid;
  place-items: center;
  color: rgb($primary);

  @mixin active {
    background-color: rgb($gray-900);
  }

  &.active-link,
  &:active {
    @include active;
  }

  @media (hover: hover) {
    &:hover {
      @include active;
    }
  }
}

.spacer {
  flex-grow: 1;
}
