<ng-container
  *ngIf="{
    modalVersion: modalVersion$ | async
  } as sub"
>
  <div *ngIf="sub.modalVersion">
    <div>
      <label>A new version of this app is available.</label>
      <div class="buttons">
        <button (click)="onClickUpdateVersion()">Update now</button>
      </div>
    </div>
    <button
      class="close"
      type="button"
      aria-label="Close"
      (click)="onClickCloseVersion()"
    >
      <app-icon svg="x-mark" [size]="16"></app-icon>
    </button>
  </div>
</ng-container>
