@import "app";

:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  background-color: rgba($loading-background, $opacity-xtra-small);
  color: rgb($loading-text-color);
}
