@import "app";

:host {
  overflow: auto;
  display: flex;
  margin: 0 auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;

  @media (orientation: portrait) {
    flex-direction: column;
    flex-grow: 1;

    &:before,
    &:after {
      content: "";
      display: block;
      flex-grow: 1;
    }
  }

  @media (orientation: landscape) {
    gap: 20px;
    justify-content: center;
  }
}

#image {
  @media (min-height: ($header-height + 100px + (20px * 2))) {
    position: sticky;
    top: 0;
  }

  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
  min-width: 100px;
  min-height: 100px;

  @media (orientation: portrait) {
    padding-bottom: 20px;

    app-image ::ng-deep label {
      @media (max-width: 540px) {
        font-size: 6vw;
      }

      @media (min-width: 541px) {
        font-size: 35px;
      }
    }
  }

  @media (orientation: landscape) {
    display: flex;
    max-width: 50%;

    app-image ::ng-deep label {
      @media (max-height: 580px) {
        font-size: 6vh;
      }

      @media (min-height: 581px) {
        font-size: 35px;
      }
    }
  }

  > div {
    display: flex;

    @media (orientation: portrait) {
      margin: 0 auto;
      flex-direction: column;
      text-align: center;
      max-height: min($image-max-size, 50vh);
      flex-shrink: 0;
      aspect-ratio: 1;
      gap: 20px;
    }

    @media (orientation: landscape) {
      max-width: $image-max-size;
    }

    @media (hover: hover) {
      ::ng-deep app-image button:hover:before {
        display: none;
      }
    }
  }
}

#options {
  width: 100%;
  align-items: center;

  @media (orientation: landscape) {
    display: grid;
    max-width: $image-max-size;
  }

  ul {
    display: grid;
    gap: 10px;

    @media (orientation: portrait) {
      margin: 0 auto;
      max-width: $image-max-size;
    }

    @media (orientation: landscape) {
      margin-top: -20px;
      margin-bottom: -20px;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &.selected button:not(.selected) {
      opacity: 0.5;
    }

    li {
      display: flex;
    }
  }
}
