<div id="image" *ngIf="question.image && question.options.length">
  <div>
    <app-image
      [src]="question.image"
      [text]="question.selectedOptionId ? undefined : question.title"
      [ariaLabel]="textShown ? ('GAME.SELECT_NAME.QUESTION_TOGGLE_BUTTON_ARIA_LABEL_HIDE' | translate) : ('GAME.SELECT_NAME.QUESTION_TOGGLE_BUTTON_ARIA_LABEL_SHOW' | translate)"
      [alt]="'GAME.SELECT_NAME.QUESTION_IMAGE_ALT' | translate"
      [selected]="question.selectedOptionId ? true : false"
      [textShown]="textShown"
      (clickEvent)="onClickQuestionImage($event)"
      [validation]="
        question.answer
          ? question.answer.isCorrect
            ? 'valid'
            : 'invalid'
          : undefined
      "
      [disabled]="question.answer ? true : false"
    ></app-image>
  </div>
</div>
<div id="options">
  <ul [class.selected]="question.selectedOptionId">
    <li *ngFor="let option of question.options">
      <app-button
        [animation]="option.id === question.selectedOptionId"
        [selected]="option.id === question.selectedOptionId"
        [disabled]="question.selectedOptionId ? true : false"
        [validation]="
          question.answer
            ? question.answer.selectedOptionId === option.id &&
              question.answer.correctOptionId === option.id
              ? 'valid'
              : 'invalid'
            : undefined
        "
        (clickEvent)="onClick(option.id)"
      >
        {{ option.title }}
      </app-button>
    </li>
  </ul>
</div>
