<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 1 1"
  fill="transparent"
  width="1"
  height="1"
></svg>
<button
  [disabled]="disabled"
  (click)="onClick()"
  (pointerenter)="onPointerEnter($event)"
  (pointerleave)="onPointerLeave($event)"
  [attr.aria-label]="ariaLabel"
  [attr.data-validation]="validation"
>
  <div class="loading">
    <app-icon svg="loading"></app-icon>
  </div>
  <img [src]="src" [alt]="alt" />
  <div *ngIf="validation" class="validation"></div>
  <app-headline
    *ngIf="text"
    [attr.data-shown]="textShown || validation !== undefined"
    [style.transition]="validation ? 'unset' : null"
    [attr.data-validation]="validation"
    [align]="'center'"
  >
    <span>{{ text }}</span>
    <app-icon
      *ngIf="validation"
      [svg]="validation === 'valid' ? 'check' : 'x-mark'"
    ></app-icon>
  </app-headline>
</button>
