<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 1 1"
  fill="transparent"
  width="1"
  height="1"
></svg>
<button
  [disabled]="disabled"
  (click)="onClick()"
  [attr.aria-label]="ariaLabel"
  [attr.data-validation]="validation"
  [class.selected]="selected"
  [class.animation]="animation"
  [class.border-on-hover]="!text || !src"
>
  <div>
    <div class="loading">
      <app-icon svg="loading"></app-icon>
    </div>
    <img class="image" *ngIf="src" [src]="src" [alt]="alt" />
    <app-icon class="image" *ngIf="!src" svg="image"></app-icon>
    <app-headline
      *ngIf="text || (selected && validation !== undefined)"
      [attr.data-shown]="textShown || validation !== undefined"
      [style.transition]="validation ? 'unset' : null"
      [align]="'center'"
    >
      <span *ngIf="text">{{ text }}</span>
      <app-icon
        *ngIf="validation"
        [svg]="validation === 'valid' ? 'check' : 'x-mark'"
      ></app-icon>
    </app-headline>
  </div>
</button>
