@import "~src/scss/scss-variables.scss";

:host {
  position: relative;
  display: inline-flex;
  align-items: center;

  &:not(.disabled) > div {
    cursor: pointer;
  }

  &.selected,
  &.hover {
    button {
      background-color: transparent;
      box-shadow: inset 0 0 0 0.5rem $success;

      app-icon {
        display: none;
      }

      img {
        z-index: -1;
        position: relative;
      }
    }
  }

  > svg {
    visibility: hidden;
  }

  > svg {
    width: 100%;
    height: 100%;
    display: block;
  }

  button {
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 2rem;
    overflow: hidden;
    aspect-ratio: 1;
    box-shadow: inset 0 0 0 0.5rem $gray-300;
    background-color: $gray-200;

    app-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $gray-500;
      width: 20%;
      height: 20%;
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      position: relative;
    }

    @mixin active {
      background-color: $image-overlay-background-hover;
      color: $image-overlay-text-hover;
    }

    &:active app-headline {
      @include active;
    }

    @media (hover: hover) {
      &:hover app-headline {
        @include active;
      }
    }

    app-headline {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 2rem;
      pointer-events: none;
      background: $image-overlay-background;
      color: $image-overlay-text;
      transform: translateY(0%);
      transition: transform 0.3s ease-in-out;

      &[data-shown="false"] {
        transform: translateY(100%);
      }
    }
  }
}
