@import "~src/scss/scss-variables.scss";

:host {
  position: relative;
  display: inline-flex;
  align-items: center;

  &:not(.disabled) > div {
    cursor: pointer;
  }

  &.selected,
  &.hover {
    button {
      background-color: transparent;

      app-icon {
        // display: none;
        z-index: -1;
      }

      img {
        z-index: -1;
        position: relative;
      }
    }
  }

  &.hover button {
    box-shadow: inset 0 0 0 0.5rem $gray-500;
  }

  &.selected {
    button[data-validation="valid"] {
      box-shadow: inset 0 0 0 0.5rem $success;
    }
    button[data-validation="invalid"] {
      box-shadow: inset 0 0 0 0.5rem $danger;
    }
  }

  > svg {
    visibility: hidden;
  }

  > svg {
    width: 100%;
    height: 100%;
    display: block;
  }

  button {
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 2rem;
    overflow: hidden;
    aspect-ratio: 1;
    box-shadow: inset 0 0 0 0.5rem $gray-300;
    background-color: $gray-200;

    .loading {
      color: $gray-500;
    }

    &[data-validation="valid"] .validation {
      color: $success;
    }

    &[data-validation="invalid"] .validation {
      color: $danger;
    }

    .loading,
    .validation {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: grid;
      place-items: center;
      pointer-events: none;
    }

    .loading app-icon {
      width: 25%;
      height: 25%;
    }

    .validation app-icon {
      width: 25%;
      height: 25%;
      border-radius: 50%;
      background-color: $gray-200;

      ::ng-deep i {
        padding: 25%;
      }
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      position: relative;
    }

    @mixin active {
      background-color: $image-overlay-background-hover;
      color: $image-overlay-text-hover;
    }

    &:active app-headline {
      @include active;
    }

    @media (hover: hover) {
      &:hover app-headline {
        @include active;
      }
    }

    app-headline {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 2rem;
      pointer-events: none;
      background: $image-overlay-background;
      color: $image-overlay-text;
      transform: translateY(0%);
      transition: transform 0.3s ease-in-out;

      &[data-shown="false"] {
        transform: translateY(100%);
      }
      &[data-validation="valid"] {
        background-color: $success;
        color: $success-accent;
      }

      &[data-validation="invalid"] {
        background-color: $danger;
        color: $danger-accent;
      }
    }
  }
}
