@import "app";

:host {
  position: relative;
  display: inline-flex;
  align-items: center;

  > svg {
    width: 100%;
    height: 100%;
    display: block;
    visibility: hidden;
  }

  button,
  button > div:before {
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 5%;
  }

  button {
    aspect-ratio: 1;

    > div {
      position: relative;
      border-radius: 5%;
      overflow: hidden;
      background-color: $gray-200;

      &:before {
        content: "";
        top: 0;
        bottom: 0;
        pointer-events: none;
        border: 5px solid $gray-300;
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      pointer-events: none;
      box-shadow: 0 0 0 2em transparent;
      border-radius: 5%;
    }

    @media (hover: hover) {
      &.border-on-hover:hover > div:before {
        border-color: $gray-500;
        z-index: 1;
      }
    }

    &[data-validation="valid"] {
      --color: #{$success};
      --accent: #{$success-accent};
      --pulse-color: #{$success};
    }

    &[data-validation="invalid"] {
      --color: #{$danger};
      --accent: #{$danger-accent};
      --pulse-color: #{$danger};
    }

    &.selected {
      > div:before {
        border-color: var(--color);
        z-index: 1;
      }

      app-headline {
        background-color: var(--color);
        color: var(--accent);
      }
    }

    &.animation {
      &[data-validation="valid"]:after {
        animation: $animation-validation-valid;
      }

      &[data-validation="invalid"] {
        animation: $animation-validation-invalid;
      }
      &:after {
        z-index: 3;
      }
    }

    .loading {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: grid;
      place-items: center;
      pointer-events: none;
      color: $gray-500;
    }

    .loading app-icon {
      width: 25%;
      height: 25%;
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      position: relative;
    }

    @mixin active {
      background-color: $image-overlay-background-hover;
      color: $image-overlay-text-hover;
    }

    &:active app-headline {
      @include active;
    }

    @media (hover: hover) {
      &:hover app-headline {
        @include active;
      }
    }

    app-headline {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 5%;
      pointer-events: none;
      background: $image-overlay-background;
      color: $image-overlay-text;
      transform: translateY(0%);
      transition: transform 0.3s ease-in-out;

      &[data-shown="false"] {
        transform: translateY(100%);
      }
    }
  }
}
