@import "~src/scss/scss-variables.scss";

:host {
  overflow: auto;
  max-width: $container-size;
  margin: 0 auto;

  display: flex;

  @media (orientation: portrait) {
    flex-direction: column;
    flex-grow: 1;
  }

  @media (orientation: landscape) {
    gap: 2rem;
    justify-content: center;
  }
}

#image {
  position: sticky;
  top: 0;
  overflow: hidden;
  flex-shrink: 0;
  background-color: $body-background-color;
  z-index: 1;

  @media (orientation: portrait) {
    padding-bottom: 2rem;

    app-image ::ng-deep label {
      @media (max-width: 540px) {
        font-size: 6vw;
      }

      @media (min-width: 541px) {
        font-size: 3.5rem;
      }
    }
  }

  @media (orientation: landscape) {
    display: flex;
    max-width: 50%;

    app-image ::ng-deep label {
      @media (max-height: 580px) {
        font-size: 6vh;
      }

      @media (min-height: 581px) {
        font-size: 3.5rem;
      }
    }
  }

  > div {
    display: flex;

    @media (orientation: portrait) {
      margin: 0 auto;
      flex-direction: column;
      text-align: center;
      max-height: 50vh;
      flex-shrink: 0;
      aspect-ratio: 1;
      gap: 2rem;

      @media (min-height: $image-max-size-breakpoint) {
        max-height: $image-max-size;
      }
    }

    @media (orientation: landscape) {
      max-width: $image-max-size;
    }
  }
}

#options {
  width: 100%;
  align-items: center;

  @media (orientation: landscape) {
    display: grid;
  }

  ul {
    display: grid;
    gap: 1rem;
    list-style-type: none;
    // grid-template-columns: repeat(auto-fit, minmax(min(35rem, 100%), 1fr));

    @media (orientation: portrait) {
      margin: 0 auto;
      max-width: 50rem;
    }

    &.selected button:not(.selected) {
      opacity: 0.5;
    }

    li {
      display: flex;

      button {
        padding: 1.5rem 3rem;
        border: 0.1rem solid $gray-400;
        border-radius: 1rem;
        font-size: 1.6rem;
        width: 100%;
        text-align: left;
        background-color: $gray-200;
        font-weight: bold;
        position: relative;

        &.selected,
        &.hover {
          box-shadow: inset 0px 0px 0px 5px $success;
        }
      }
    }
  }
}
