<ng-container
  *ngIf="{
    modalPwaEvent: modalPwaEvent$ | async,
    modalPwaPlatform: modalPwaPlatform$ | async
  } as sub"
>
  <div
    *ngIf="sub.modalPwaPlatform === 'ANDROID' || sub.modalPwaPlatform === 'IOS'"
  >
    <div>
      <button
        *ngIf="sub.modalPwaPlatform === 'ANDROID'"
        (click)="onClickAddToHomeScreen()"
      >
        Add this WEB app to home screen
      </button>
      <label
        >To install this WEB app on your device, tap the "Menu" button
        <app-icon svg="ios-menu" [size]="16"></app-icon> and then "Add to home
        screen" button <i class="bi bi-plus-square"></i
      ></label>
    </div>
    <button type="button" aria-label="Close" (click)="onClickClosePwa()">
      <app-icon svg="x-mark" [size]="16"></app-icon>
    </button>
  </div>
</ng-container>
