<ng-container
  *ngIf="{
    modalPwaEvent: modalPwaEvent$ | async,
    modalPwaPlatform: modalPwaPlatform$ | async
  } as sub"
>
  <app-pwa-modal
    *ngIf="sub.modalPwaPlatform === 'ANDROID' || sub.modalPwaPlatform === 'IOS'"
  >
    <div>
      <div>
        <button
          *ngIf="sub.modalPwaPlatform === 'ANDROID'"
          (click)="onClickAddToHomeScreen()"
        >
          Add this WEB app to home screen
        </button>
        <label *ngIf="sub.modalPwaPlatform === 'IOS'"
          >To install this WEB app on your device, tap the <b>"Menu"</b> button
          <app-icon svg="ios-menu" [size]="16"></app-icon> and then
          <b>"Add to home screen"</b> button <i class="bi bi-plus-square"></i
        ></label>
      </div>
      <button type="button" aria-label="Close" (click)="onClickClosePwa()">
        <app-icon svg="x-mark" [size]="16"></app-icon>
      </button>
    </div>
  </app-pwa-modal>
</ng-container>
