<ng-container
  *ngIf="{
    modalVersion: modalVersion$ | async
  } as sub"
>
  <app-pwa-modal *ngIf="sub.modalVersion">
    <div>
      <div>
        <label>{{'PWA.NEW_VERSION.TITLE' | translate}}</label>
        <div class="buttons">
          <button (click)="onClickUpdateVersion()">{{'PWA.NEW_VERSION.UPDATE_BUTTON' | translate}}</button>
        </div>
      </div>
      <button
        class="close"
        type="button"
        [attr.aria-label]="'PWA.NEW_VERSION.CLOSE_BUTTON' | translate"
        (click)="onClickCloseVersion()"
      >
        <app-icon svg="x-mark" [size]="16"></app-icon>
      </button></div
  ></app-pwa-modal>
</ng-container>
