@import "app";

:host {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  display: block;
  display: grid;
  justify-content: right;

  ::ng-deep > div {
    border: 1px solid rgb($gray-600);
    background-color: rgb($gray-800);
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    max-width: 500px;

    > div {
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;

      > label {
        display: inline-block;
      }

      button {
        border-radius: 5px;
        background-color: rgb($gray-600);
        border: 1px solid rgb($gray-500);
        padding: 10px;

        @media (hover: hover) {
          &:hover {
            background-color: rgb($gray-500);
            border-color: rgb($gray-400);
          }
        }
      }
    }

    > button {
      padding: 10px;
      @media (hover: hover) {
        &:hover {
          color: rgb($gray-400);
        }
      }
    }
  }
}
