@import "~src/scss/scss-variables.scss";

:host {
  overflow: auto;
  display: flex;

  @media (orientation: portrait) {
    flex-direction: column;
  }
}

#image {
  position: sticky;
  top: 0;
  overflow: hidden;
  flex-shrink: 0;
  background-color: $body-background;

  @media (orientation: portrait) {
    padding: 2rem;
  }

  @media (orientation: landscape) {
    display: flex;
  }

  > div {
    display: flex;
    @media (orientation: landscape) {
      margin: 2rem 0 2rem 2rem;
      max-width: 30vw;
    }

    @media (orientation: portrait) {
      margin: 0 auto;
      flex-direction: column;
      text-align: center;
      max-height: 30vh;
      flex-shrink: 0;
      aspect-ratio: 1;
      gap: 2rem;
    }
  }
}

#options {
  width: 100%;

  @media (orientation: landscape) {
    display: grid;
    align-items: center;
  }

  > div {
    display: grid;
    padding: 0 2rem 2rem 2rem;

    ul {
      display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(min(35rem, 100%), 1fr));
      gap: 1rem;
      list-style-type: none;

      @media (min-width: 1100px) {
        grid-template-columns: 1fr 1fr;
      }

      li {
        display: flex;
      }
    }
  }
}

h2 {
  font-size: $page-headline-font-size;
  text-align: center;

  @media (orientation: portrait) {
    margin-top: 20px;
    #options & {
      display: none;
    }
  }

  @media (orientation: landscape) {
    #image & {
      display: none;
    }

    #options & {
      position: sticky;
      top: 0;
      padding: 2rem 0;
      background-color: $body-background;
    }
  }
}

button {
  padding: 1rem 2rem;
  border: $button-border-width solid $button-border-color;
  border-radius: $button-border-radius;
  font-size: 1.6rem;
  width: 100%;
  text-align: left;
  background-color: $button-background;
  color: $button-text;

  @media (hover: hover) {
    cursor: pointer;
    &:hover {
      background-color: $button-background-hover;
      color: $button-text-hover;
      border-color: $button-border-color-hover;
    }
  }
}
