<div id="image">
  <div>
    <app-image
      src="assets/people/1.webp"
      text="Who is this?"
      ariaLabel="Toggle title shown"
      alt="Person face"
    ></app-image>
  </div>
</div>
<div id="options">
  <ul [class.hover]="hover && !selected" [class.selected]="selected">
    <li *ngFor="let name of names">
      <button
        [class.hover]="hover === name"
        [class.selected]="selected === name"
        [disabled]="selected"
        [disabled]="selected ? true : false"
        (pointerenter)="onPointerEnter(name)"
        (pointerleave)="onPointerLeave()"
        (click)="onClick(name)"
      >
        {{ name }}
      </button>
    </li>
  </ul>
</div>
