<div id="image">
  <div>
    <div>
      <img src="assets/blank.svg" />
      <div>
        <img
          srcset="
              assets/people/profile-1-derivatives/profile-1-250w.jpg 250w,
              assets/people/profile-1-derivatives/profile-1-500w.jpg  2x,
              assets/people/profile-1-derivatives/profile-1-750w.jpg  3x,
              assets/people/profile-1-derivatives/profile-1-1000w.jpg 4x
            "
          src="assets/people/profile-1-derivatives/profile-1-1000w.jpg"
          alt="Picture of person"
        />
      </div>
    </div>
    <h2>Who is this?</h2>
  </div>
</div>
<div id="options">
  <div>
    <h2>Who is this?</h2>
    <ul>
      <li><button>Hans</button></li>
      <li><button>Simon</button></li>
      <li><button>Hans</button></li>
      <li><button>Simon</button></li>
      <li><button>Mikkel</button></li>
      <li><button>Jens awgeaw egiopjhaweg</button></li>
      <li><button>Hans</button></li>
      <li><button>Simon</button></li>
      <li><button>Mikkel</button></li>
      <li><button>Jens</button></li>
      <li><button>Hans</button></li>
      <li><button>Simon</button></li>
      <li><button>Mikkel</button></li>
      <li><button>Jens</button></li>
      <li><button>Hans</button></li>
      <li><button>Simon</button></li>
      <li><button>Hans</button></li>
      <li><button>Simon</button></li>
      <li><button>Mikkel</button></li>
      <li><button>Jens awgeaw egiopjhaweg</button></li>
      <li><button>Hans</button></li>
      <li><button>Simon</button></li>
      <li><button>Mikkel</button></li>
      <li><button>Jens</button></li>
      <li><button>Hans</button></li>
      <li><button>Simon</button></li>
      <li><button>Mikkel</button></li>
      <li><button>Jens</button></li>
      <li><button>Hans</button></li>
      <li><button>Simon</button></li>
      <li><button>Hans</button></li>
      <li><button>Simon</button></li>
      <li><button>Mikkel</button></li>
      <li><button>Jens awgeaw egiopjhaweg</button></li>
      <li><button>Hans</button></li>
      <li><button>Simon</button></li>
      <li><button>Mikkel</button></li>
      <li><button>Jens</button></li>
      <li><button>Hans</button></li>
      <li><button>Simon</button></li>
      <li><button>Mikkel</button></li>
      <li><button>Jens</button></li>
    </ul>
  </div>
</div>
