@import "~src/scss/scss-variables.scss";

:host {
  overflow: auto;
  display: flex;

  @media (orientation: portrait) {
    flex-direction: column;
  }

  @media (orientation: landscape) {
    gap: 2rem;
  }
}

#image {
  position: sticky;
  top: 0;
  overflow: hidden;
  flex-shrink: 0;
  background-color: $body-background;

  @media (orientation: portrait) {
    padding-bottom: 2rem;
  }

  @media (orientation: landscape) {
    display: flex;
    max-width: 50%;
  }

  > div {
    display: flex;

    @media (orientation: portrait) {
      margin: 0 auto;
      flex-direction: column;
      text-align: center;
      max-height: 50vh;
      flex-shrink: 0;
      aspect-ratio: 1;
      gap: 2rem;

      @media (min-height: $image-max-size-breakpoint) {
        max-height: $image-max-size;
      }
    }

    @media (orientation: landscape) {
      max-width: $image-max-size;
    }
  }
}

#options {
  width: 100%;
  align-items: center;

  @media (orientation: landscape) {
    display: grid;
  }

  ul {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(min(35rem, 100%), 1fr));

    gap: 1rem;
    list-style-type: none;
    li {
      display: flex;
    }
  }
}

button {
  padding: 1rem 2rem;
  border: $button-border-width solid $button-border-color;
  border-radius: $button-border-radius;
  font-size: 1.6rem;
  width: 100%;
  text-align: left;
  background-color: $button-background;
  color: $button-text;
  font-weight: bold;

  @media (hover: hover) {
    cursor: pointer;
    &:hover {
      background-color: $button-background-hover;
      color: $button-text-hover;
      border-color: $button-border-color-hover;
    }
  }
}
