@import "~src/scss/scss-variables.scss";
:host {
  display: block;
  background-color: $danger;
  padding: 0 1rem;
  line-height: $header-height;
  flex-shrink: 0;
}
label {
  display: block;
  color: $danger-accent;
  font-weight: bold;
}
