<div id="image">
  <div>
    <app-image
      [src]="'assets/people/1.webp'"
      [text]="result ? undefined : 'Who is this?'"
      [ariaLabel]="'Toggle title shown'"
      [alt]="'Person face'"
      [selected]="result !== undefined"
      [validation]="
        result ? (result === selected ? 'valid' : 'invalid') : undefined
      "
      [disabled]="result ? true : false"
    ></app-image>
  </div>
</div>
<div id="options">
  <ul [class.selected]="selected">
    <li *ngFor="let person of persons">
      <app-button
        [selected]="selected === person.id"
        [disabled]="selected ? true : false"
        [validation]="
          result ? (result === person.id ? 'valid' : 'invalid') : undefined
        "
        (clickEvent)="onClick(person.id)"
      >
        {{ person.name }}
      </app-button>
    </li>
  </ul>
</div>
