<div id="image">
  <div>
    <app-image
      src="assets/people/1.webp"
      [text]="
        result ? (result === selected ? 'Correct' : 'Wrong') : 'Who is this?'
      "
      ariaLabel="Toggle title shown"
      alt="Person face"
      [validation]="
        result ? (result === selected ? 'valid' : 'invalid') : undefined
      "
      [disabled]="result ? true : false"
    ></app-image>
  </div>
</div>
<div id="options">
  <ul [class.hover]="hover && !selected" [class.selected]="selected">
    <li *ngFor="let person of persons">
      <button
        [attr.data-state]="
          result ? (result === person.id ? 'valid' : 'invalid') : 'initial'
        "
        [class.hover]="hover === person.id"
        [class.selected]="selected === person.id"
        [disabled]="selected"
        [disabled]="selected ? true : false"
        (pointerenter)="onPointerEnter(person.id, $event)"
        (pointerleave)="onPointerLeave($event)"
        (click)="onClick(person.id)"
      >
        {{ person.name }}
      </button>
    </li>
  </ul>
</div>
