<div id="image" *ngIf="question.image && question.options.length">
  <div>
    <app-image
      [src]="question.image"
      [text]="question.selected ? undefined : question.title"
      [ariaLabel]="'Toggle title shown'"
      [alt]="'Person face'"
      [selected]="question.selected"
      [validation]="
        question.answer
          ? question.answer.isCorrect
            ? 'valid'
            : 'invalid'
          : undefined
      "
      [disabled]="question.answer ? true : false"
    ></app-image>
  </div>
</div>
<div id="options">
  <ul [class.selected]="question.selected">
    <li *ngFor="let option of question.options">
      <app-button
        [animation]="option.selected"
        [selected]="option.selected"
        [disabled]="question.selected"
        [validation]="
          question.answer
            ? question.answer.selectedOptionId === option.id &&
              question.answer.correctOptionId === option.id
              ? 'valid'
              : 'invalid'
            : undefined
        "
        (clickEvent)="onClick(option.id)"
      >
        {{ option.title }}
      </app-button>
    </li>
  </ul>
</div>
