@import "~src/scss/scss-variables.scss";

:host {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "content";
  grid-template-rows: auto 1fr;
}

app-header {
  grid-area: header;
  height: $header-height;
}

#content {
  height: calc(100vh - $header-height);
  overflow: auto;
  grid-area: content;

  router-outlet {
    display: none;
  }

  ::ng-deep > *:not(router-outlet) {
    height: 100%;
  }
}
