@import "app";

:host {
  min-height: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "content";
  grid-template-rows: auto 1fr;
}

app-header {
  grid-area: header;
  height: $header-height;
}

#content {
  height: calc(100vh - $header-height);
  overflow-y: auto;
  overflow-x: hidden;
  grid-area: content;
  // max-width: $container-width;
  width: 100%;
  justify-self: center;

  router-outlet {
    display: none;
  }

  ::ng-deep > *:not(router-outlet) {
    padding: 20px;
    position: fixed;
    top: $header-height;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
