:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  ::ng-deep svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}

i {
  width: 100%;
  height: 100%;
  @for $index from 1 through 10 {
    $size: ($index * 2) + 8;

    &[data-size="#{$size}"] {
      width: #{$size}px;
      height: #{$size}px;
    }
  }

  $rotations: 45, 90, 135, 180, 225, 270, 315;
  @each $rotation in $rotations {
    &.rotate-#{$rotation} {
      transform: rotate(#{$rotation}deg);
    }
  }
}
