@import "~src/scss/scss-variables.scss";

:host {
  display: flex;
  font-size: 1.8rem;
  font-weight: bold;
  gap: 0.5em;

  &[data-align="left"] {
    justify-content: flex-start;
  }
  &[data-align="center"] {
    justify-content: center;
  }
  &[data-align="right"] {
    justify-content: flex-end;
  }

  @media (orientation: portrait) {
    font-size: clamp(1.8rem, 6vw, 3.5rem);
  }

  @media (orientation: landscape) {
    font-size: clamp(1.8rem, 6vh, 3.5rem);
  }

  ::ng-deep app-icon i {
    width: 1em;
    height: 1em;
  }
}
