@import "~src/scss/scss-variables.scss";

:host {
  width: 100%;
  button {
    padding: 1.5rem 3rem;
    border: 0.1rem solid $gray-400;
    border-radius: 1rem;
    font-size: 1.6rem;
    width: 100%;
    text-align: left;
    background-color: $gray-200;
    font-weight: bold;
    position: relative;

    &:not(.selected):hover {
      background-color: $gray-400;
    }

    &.selected {
      &[data-validation="valid"] {
        box-shadow: inset 0 0 0 0.5rem $success;
      }
      &[data-validation="invalid"] {
        box-shadow: inset 0 0 0 0.5rem $danger;
      }
    }
  }
}
