<div id="question">
  <app-headline [align]="'center'"><span>Who is Simon?</span></app-headline>
</div>
<div id="options">
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1 1"
      fill="transparent"
      width="1"
      height="1"
    ></svg>
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1 1"
        fill="transparent"
        width="1"
        height="1"
      ></svg>
      <div id="photos" [class.selected]="selected">
        <app-image
          *ngFor="let photo of photos; let i = index"
          [disabled]="selected ? true : false"
          [selected]="selected === photo.id"
          [src]="photo.url"
          [ariaLabel]="'Select person face {{ i + 1 }}'"
          [alt]="'Person face {{ i }}'"
          (clickEvent)="onClick(photo.id)"
          [validation]="
            result ? (result === photo.id ? 'valid' : 'invalid') : undefined
          "
        ></app-image>
      </div>
    </div>
  </div>
</div>
