<div id="question">
  <app-headline [align]="'center'"><span>Who is Simon?</span></app-headline>
  <!-- <h2>Who is Simon?</h2> -->
</div>
<div id="options">
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1 1"
      fill="transparent"
      width="1"
      height="1"
    ></svg>
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1 1"
        fill="transparent"
        width="1"
        height="1"
      ></svg>
      <div
        id="photos"
        [class.hover]="hover && !selected"
        [class.selected]="selected"
      >
        <app-image
          *ngFor="let photo of photos; let i = index"
          [class.hover]="hover === photo.id && !selected"
          [class.selected]="selected === photo.id"
          [class.disabled]="selected"
          [disabled]="selected ? true : false"
          [id]="photo.id"
          [src]="photo.url"
          ariaLabel="Select person face {{ i + 1 }}"
          alt="Person face {{ i }}"
          (selected)="onSelected($event)"
          (hover)="onHover($event)"
          [validation]="
            result ? (result === photo.id ? 'valid' : 'invalid') : undefined
          "
          [text]="
            selected === photo.id
              ? result === selected
                ? 'Correct'
                : 'Wrong'
              : undefined
          "
        ></app-image>
      </div>
    </div>
  </div>
</div>
