@import "app";

:host {
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 20px;
  align-items: center;
  &:before,
  &:after {
    content: "";
    display: block;
    flex-grow: 1;
  }
}

#question {
  width: 100%;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 2;
}

#options {
  padding: 0 20px;
  width: 100%;
  height: 100%;
  gap: 20px;

  @media (orientation: landscape) {
    max-width: calc(($image-max-size * 4) + (20px * 5));
    max-height: $image-max-size;
  }

  @media (orientation: portrait) {
    max-width: $image-max-size + (20px * 2);
    max-height: calc(($image-max-size * 4) + (20px * 3));
    flex-shrink: 0;
  }

  > div {
    display: grid;
    height: 100%;

    > svg {
      display: none;
    }

    > div {
      display: grid;

      > svg {
        display: none;
      }

      #photos {
        gap: 20px;
        justify-content: center;
        min-height: 10 1px;

        app-image {
          min-width: 100px;
        }

        @media (orientation: landscape) {
          display: flex;
        }

        @media (orientation: portrait) {
          display: grid;
        }

        &.selected > app-image ::ng-deep button:not(.selected) {
          opacity: 0.5;
        }
      }
    }
  }

  // horizontal then vertical
  @media (min-aspect-ratio: 100/100) and (max-aspect-ratio: 100/50) and (min-width: (100px * 2 + (20px * 3))),
    (min-aspect-ratio: 50/100) and (max-aspect-ratio: 100/100) and (min-height: (100px * 2 + (20px * 3))),
    (min-width: (400px * 2 + (20px * 3))) and (min-height: (400px * 2 + (20px * 3))) {
    // 2x2
    display: grid;
    justify-content: center;
    max-width: calc($image-max-size * 2 + 20px);
    max-height: calc($image-max-size * 2 + 20px);
    flex-shrink: unset;

    > div {
      display: inline-flex;
      height: unset;
      position: relative;

      > svg {
        display: block;
        visibility: hidden;
        width: 100%;
        height: 100%;
      }

      > div {
        position: absolute;
        left: 0;
        right: 0;

        #photos {
          height: 100%;
          width: 100%;
          display: grid;
          gap: 20px;
          grid-template-columns: 1fr 1fr;

          app-image {
            display: flex;
          }
        }
      }
    }
  }
}
