<div id="question" *ngIf="question.title && question.options.length">
  <app-headline [align]="'center'"
    ><span>{{ question.title }}</span></app-headline
  >
</div>
<div id="options">
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1 1"
      fill="transparent"
      width="1"
      height="1"
    ></svg>
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1 1"
        fill="transparent"
        width="1"
        height="1"
      ></svg>
      <div id="photos" [class.selected]="question.selectedOptionId">
        <app-image
          *ngFor="let option of question.options; let i = index"
          [animation]="option.id === question.selectedOptionId"
          [selected]="option.id === question.selectedOptionId"
          [disabled]="question.selectedOptionId ? true : false"
          [src]="option.image"
          [ariaLabel]="'Select person face {{ i + 1 }}'"
          [alt]="'Person face {{ i }}'"
          (clickEvent)="onClick(option.id)"
          [text]="
            option.image
              ? undefined
              : question.answer
              ? undefined
              : 'Image missing'
          "
          [validation]="
            question.answer
              ? question.answer.selectedOptionId === option.id &&
                question.answer.correctOptionId === option.id
                ? 'valid'
                : 'invalid'
              : undefined
          "
        ></app-image>
      </div>
    </div>
  </div>
</div>
