<div id="question">
  <h2>Who is Simon?</h2>
</div>
<div id="options">
  <div>
    <img src="assets/blank.svg" aria-hidden="true" />
    <div>
      <img src="assets/blank.svg" aria-hidden="true" />
      <div
        id="photos"
        [class.hover]="hover && !selected"
        [class.selected]="selected"
      >
        <app-image
          *ngFor="let photo of photos"
          [class.hover]="hover === photo && !selected"
          [class.selected]="selected === photo"
          [class.disabled]="selected"
          [disabled]="selected ? true : false"
          [src]="photo"
          alt="Person face"
          (selected)="onSelected($event)"
          (hover)="onHover($event)"
        ></app-image>
      </div>
    </div>
  </div>
</div>
