<div id="question">
  <h2>Who is Simon?</h2>
</div>
<div id="options">
  <div>
    <img src="assets/blank.svg" />
    <div>
      <!-- <div>
        <app-image></app-image>
        <app-image></app-image>
        <app-image></app-image>
        <app-image></app-image>
      </div> -->
      <!-- <img
        srcset="
              assets/people/profile-1-derivatives/profile-1-250w.jpg 250w,
              assets/people/profile-1-derivatives/profile-1-500w.jpg  2x,
              assets/people/profile-1-derivatives/profile-1-750w.jpg  3x,
              assets/people/profile-1-derivatives/profile-1-1000w.jpg 4x
            "
        src="assets/people/profile-1-derivatives/profile-1-1000w.jpg"
        alt="Picture of person"
      /> -->
      <img src="assets/blank.svg" />
      <div>
        <!-- <app-image></app-image>
        <app-image></app-image>
        <app-image></app-image>
        <app-image></app-image> -->
        <app-image></app-image>
        <app-image></app-image>
        <app-image></app-image>
        <app-image></app-image>
      </div>
    </div>
  </div>
</div>
