@import "~src/scss/scss-variables.scss";

:host {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#question {
  position: sticky;
  top: 0;
  background-color: $body-background;
  z-index: 1;
}

#options {
  height: 100%;
  gap: 20px;
  justify-content: center;
  @media (orientation: portrait) {
    display: grid;
  }
  @media (orientation: landscape) {
    display: flex;
  }
}

h2 {
  font-size: $page-headline-font-size;
  text-align: center;
}
