@use "scss-variables.scss";

:root {
  --theme-color: dodgerblue;

  --default-layout-background: #eee;
  ----default-layout-border-color: #ddd;

  --thumb-color: #909090;
  --track-color: white;

  --body-background: white;
  --body-text: black;

  --header-background: var(--default-layout-background);
  --header-text: var(--body-text);
  --header-border-color: var(----default-layout-border-color);

  --logo-background-hover: var(--link-color);
  --logo-text-hover: white;

  --navbar-item-background-hover: var(----default-layout-border-color);

  --button-background: var(--header-background);
  --button-background-hover: forestgreen;
  --button-text: var(--body-text);
  --button-text-hover: white;
  --button-border-color: var(----default-layout-border-color);
  --button-border-color-hover: darkgreen;

  --link-color: var(--theme-color);
  --success-color: darkgreen;
  --error-color: darkred;

  --image-overlay-background: rgba(0, 0, 0, 0.5);
  --image-overlay-text: white;

  --pwa-background: var(--default-layout-background);
  --pwa-border-color: var(------default-layout-border-color);

  @media (prefers-color-scheme: dark) {
    --default-layout-background: #202020;
    ----default-layout-border-color: #303030;

    --thumb-color: #202020;
    --track-color: black;

    --body-background: black;
    --body-text: white;

    --button-background-hover: darkgreen;
    --button-text-hover: var(--body-text);
    --button-border-color-hover: forestgreen;

    --success-color: forestgreen;
    --error-color: firebrick;
  }
}
