:root {
  --white: 255, 255, 255;
  --gray-100: 248, 244, 240;
  --gray-200: 229, 223, 217;
  --gray-300: 208, 201, 194;
  --gray-400: 170, 162, 153;
  --gray-500: 108, 100, 92;
  --gray-600: 75, 69, 63;
  --gray-700: 59, 55, 51;
  --gray-800: 48, 45, 42;
  --gray-900: 33, 32, 31;
  --black: 0, 0, 0;

  --blue: 0, 114, 237;
  --indigo: 102, 16, 242;
  --purple: 111, 66, 193;
  --pink: 232, 62, 140;
  --red: 220, 53, 69;
  --orange: 190, 90, 6;
  --yellow: 255, 193, 7;
  --green: 33, 136, 56;
  --teal: 32, 201, 151;
  --cyan: 19, 130, 148;

  --primary: var(--orange);
  --primary-accent: 255, 255, 255;
  --secondary: var(--gray-600);
  --success: var(--green);
  --success-accent: 255, 255, 255;
  --info: var(--cyan);
  --warning: var(--orange);
  --danger: var(--red);
  --danger-accent: 255, 255, 255;
  --light: var(--gray-100);
  --dark: var(--gray-800);

  --body-background: radial-gradient(
    circle,
    rgb(var(--gray-800)) 0%,
    rgb(var(--black)) 100%
  );
  --body-color: var(--gray-100);

  --thumb-color: var(--gray-500);
  --track-color: var(--gray-900);

  --loading-background: var(--black);
  --loading-text-color: var(--gray-100);

  --shake-1: 5px;
  --shake-2: -5px;

  --image-svg-background: var(--gray-700);
  --image-svg-foreground: var(--white);
}
