@font-face {
  font-family: Heebo;
  src: url(../assets/fonts/Heebo-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: Heebo;
  src: url(../assets/fonts/Heebo-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Heebo;
  src: url(../assets/fonts/Heebo-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Heebo;
  src: url(../assets/fonts/Heebo-Black.ttf);
  font-weight: 900;
}
