@import "app";
@import "css-variables";

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent; // disable android focus glow

  scrollbar-width: thin;
  scrollbar-color: $thumb-color $track-color;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  overscroll-behavior: none;
  word-break: break-word;
}

html {
  height: 100%;
  box-sizing: border-box;

  ::-webkit-scrollbar-track {
    background: $track-color;
  }

  ::-webkit-scrollbar {
    width: 11px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    border-radius: 6px;
    border: 3px solid $track-color;
  }
}
body {
  min-height: 100%;
  background-color: $body-background-color;
  letter-spacing: $body-font-letter-spacing;
  user-select: none;
}

body,
button {
  font-family: $body-font-family;
  color: $body-color;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label {
  font-size: $base-font-size;
}

a {
  color: $link-color;
  text-decoration: none;

  @media (hover: hover) {
    &:hover {
      text-decoration: underline;
    }
  }
}

svg,
img {
  pointer-events: none;
}

button {
  background-color: transparent;
  border: none;
  &[disabled] {
    pointer-events: none;
  }

  &:not([disabled]) {
    cursor: pointer;
  }
}

ul {
  list-style-type: none;
}
