@import "app";
@import "css-variables";

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent; // disable android focus glow

  scrollbar-width: thin;
  scrollbar-color: rgb($thumb-color) rgb($track-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  overscroll-behavior: none;
  word-break: break-word;
}

html {
  height: 100%;
  box-sizing: border-box;

  scrollbar-width: thin; /* length not currently implemented 13 april 2020 */
  scrollbar-color: rgb($thumb-color) rgb($track-color);

  * {
    scrollbar-width: thin; /* length not currently implemented 13 april 2020 */
    scrollbar-color: rgb($thumb-color) rgb($track-color);
  }

  ::-webkit-scrollbar-track {
    background: rgb($track-color);
  }

  ::-webkit-scrollbar {
    width: 11px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb($thumb-color);
    border-radius: 6px;
    border: 3px solid rgb($track-color);
  }
}
body {
  min-height: 100%;
  letter-spacing: $body-font-letter-spacing;
  user-select: none;
  background: $body-background;
}

body,
button,
a {
  color: rgb($body-color);
}

body,
button {
  font-family: $body-font-family;
  font-size: $base-font-size;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label {
  font-size: $base-font-size;
}

a {
  color: $link-color;
  text-decoration: none;

  @media (hover: hover) {
    &:hover {
      text-decoration: underline;
    }
  }
}

svg,
img {
  pointer-events: none;
}

button {
  background-color: transparent;
  border: none;
  &[disabled] {
    pointer-events: none;
  }

  &:not([disabled]) {
    cursor: pointer;
  }
}

ul {
  list-style-type: none;
}
