$thumb-color: var(--thumb-color);
$track-color: var(--track-color);

$body-background: var(--body-background);
$body-text: var(--body-text);

$header-background: var(--header-background);
$header-text: var(--header-text);
$header-border-color: var(--header-border-color);
$header-border-width: 1px;

$button-background: var(--button-background);
$button-background-hover: var(--button-background-hover);
$button-text: var(--button-text);
$button-text-hover: var(--button-text-hover);
$button-border-color: var(--button-border-color);
$button-border-color-hover: var(--button-border-color-hover);
$button-border-width: 1px;
$button-border-radius: 10px;

$image-border-radius: 20px;
