$thumb-color: var(--thumb-color);
$track-color: var(--track-color);

$body-background: var(--body-background);
$body-text: var(--body-text);
$base-font-size: 1.6rem;

$header-height: 4rem;
$header-background: var(--header-background);
$header-text: var(--header-text);
$header-border-color: var(--header-border-color);
$header-border-width: 0.1rem;

$logo-background-hover: var(--logo-background-hover);
$logo-text-hover: var(--logo-text-hover);
$navbar-item-background-hover: var(--navbar-item-background-hover);

$button-background: var(--button-background);
$button-background-hover: var(--button-background-hover);
$button-text: var(--button-text);
$button-text-hover: var(--button-text-hover);
$button-border-color: var(--button-border-color);
$button-border-color-hover: var(--button-border-color-hover);
$button-border-width: 0.1rem;
$button-border-radius: 1rem;

$link-color: var(--link-color);

$success-color: var(--success-color);
$error-color: var(--error-color);

$image-border-radius: 2rem;

$page-headline-font-size: 1.8rem;

$image-max-size-breakpoint: 1000px;
$image-max-size: 50rem;
$image-overlay-background: var(--image-overlay-background);
$image-overlay-text: var(--image-overlay-text);

$pwa-background: var(--pwa-background);
$pwa-border-color: var(--pwa-border-color);

$container-size: 120rem;
