:host {
  overflow: auto;
  display: flex;

  @media (orientation: portrait) {
    flex-direction: column;
  }
}

#image {
  position: sticky;
  top: 0;
  overflow: hidden;
  flex-shrink: 0;

  @media (prefers-color-scheme: dark) {
    background-color: #323232;
  }

  @media (prefers-color-scheme: light) {
    background-color: white;
  }

  @media (orientation: portrait) {
    padding: 20px;
  }

  @media (orientation: landscape) {
    display: flex;
  }

  > div {
    display: flex;
    @media (orientation: landscape) {
      margin: 20px 0 20px 20px;
      max-width: 30vw;
    }

    @media (orientation: portrait) {
      margin: 0 auto;
      flex-direction: column;
      text-align: center;
      max-height: 30vh;
      flex-shrink: 0;
      aspect-ratio: 1;
      gap: 20px;
    }

    > div {
      position: relative;
      display: inline-flex;
      height: 100%;

      @media (orientation: landscape) {
        align-items: center;
      }

      > img {
        visibility: hidden;
      }

      img {
        width: 100%;
        height: 100%;
        display: block;
      }

      > div {
        position: absolute;
        left: 0;
        right: 0;
        aspect-ratio: 1;
        background-size: cover;
        background-position: center;
        border-radius: 20px;
      }
    }
  }
}

#options {
  width: 100%;

  @media (orientation: landscape) {
    display: grid;
    align-items: center;
  }

  > div {
    display: grid;
    padding: 0 20px 20px 20px;

    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
      gap: 10px;
      list-style-type: none;

      li {
        display: flex;
      }
    }
  }
}

h2 {
  font-size: 32px;
  text-align: center;

  @media (orientation: portrait) {
    #options & {
      display: none;
    }
  }

  @media (orientation: landscape) {
    #image & {
      display: none;
    }

    #options & {
      position: sticky;
      top: 0;
      padding: 20px 0;

      @media (prefers-color-scheme: dark) {
        background-color: #323232;
      }
      @media (prefers-color-scheme: light) {
        background-color: white;
      }
    }
  }
}

button {
  padding: 10px 20px;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  font-size: 24px;
  width: 100%;
  text-align: left;

  @media (prefers-color-scheme: dark) {
    background-color: #1b1b1b;
    color: white;
    border-color: #101010;
  }

  @media (prefers-color-scheme: light) {
    background-color: #e5e5e5;
    border-color: #909090;
  }

  @media (hover: hover) {
    cursor: pointer;
    &:hover {
      background-color: green;
      color: white;
    }
  }
}
