<div id="image">
  <div>
    <div>
      <img src="assets/blank.jpg" />
      <div style="background-image: url(assets/people/1.jpg)"></div>
    </div>
  </div>
</div>
<div id="options">
  <div>
    <h2>Who is this?</h2>
    <ul>
      <li><button>Hans</button></li>
      <li><button>Simon</button></li>
      <li><button>Hans</button></li>
      <li><button>Simon</button></li>
      <li><button>Mikkel</button></li>
      <li><button>Jens awgeaw egiopjhaweg</button></li>
      <li><button>Hans</button></li>
      <li><button>Simon</button></li>
      <li><button>Mikkel</button></li>
      <li><button>Jens</button></li>
      <li><button>Hans</button></li>
      <li><button>Simon</button></li>
      <li><button>Mikkel</button></li>
      <li><button>Jens</button></li>
      <li><button>Hans</button></li>
      <li><button>Simon</button></li>
      <li><button>Hans</button></li>
      <li><button>Simon</button></li>
      <li><button>Mikkel</button></li>
      <li><button>Jens awgeaw egiopjhaweg</button></li>
      <li><button>Hans</button></li>
      <li><button>Simon</button></li>
      <li><button>Mikkel</button></li>
      <li><button>Jens</button></li>
      <li><button>Hans</button></li>
      <li><button>Simon</button></li>
      <li><button>Mikkel</button></li>
      <li><button>Jens</button></li>
      <li><button>Hans</button></li>
      <li><button>Simon</button></li>
      <li><button>Hans</button></li>
      <li><button>Simon</button></li>
      <li><button>Mikkel</button></li>
      <li><button>Jens awgeaw egiopjhaweg</button></li>
      <li><button>Hans</button></li>
      <li><button>Simon</button></li>
      <li><button>Mikkel</button></li>
      <li><button>Jens</button></li>
      <li><button>Hans</button></li>
      <li><button>Simon</button></li>
      <li><button>Mikkel</button></li>
      <li><button>Jens</button></li>
    </ul>
  </div>
</div>
