@import "app";

:host {
  display: block;
  background-color: $danger;
  padding: 0 10px;
  line-height: $header-height;
  flex-shrink: 0;
}
label {
  display: block;
  color: $danger-accent;
  font-weight: bold;
}
